:root {
	--pd-irma-primary: #4497f7;
	--pd-irma-primary-dark: #3c87de;
	--pd-irma-green: #42c75a;
	--pd-irma-red: #c74242;
	--pd-irma-border-radius: 8px;
	--pd-irma-box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
}

.pd-irma-header {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	margin-bottom: 2rem;
	background: var(--pd-irma-primary);
}

.pd-irma-header .pd-irma-page-title {
	color: #FFF;
	padding: 0;
}

.pd-irma-logo {
	height: 60px;
	width: auto;
	margin-right: 1rem;
}

.pd-irma-block {
	width: 100%;
	max-width: 500px;
	padding: 2em;
	background: #FFF;
	border-radius: var(--pd-irma-border-radius);
	box-shadow: var(--pd-irma-box-shadow);
}

/**
 * Form
 */
.pd-irma-form .irma-form-label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.1em;
	font-weight: bold;
	color: var(--pd-irma-primary);
}

.pd-irma-form__footer {
	display: block;
	margin-top: 2rem;
}

/**
 * Elements
 */
.pd-irma-button {
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	text-decoration: none;
	color: #FFF;
	background: var(--pd-irma-primary);
	transition: all 0.3s ease;
}

.pd-irma-button:hover,
.pd-irma-button:focus {
	color: #FFF;
	outline: none;
	background: var(--pd-irma-primary-dark);
	box-shadow: var(--pd-irma-box-shadow);
}

.pd-irma-form .irma-form-input {
	width: 100%;
	padding: 0.5em 0.75em 0.5em 0;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #CCC;
	transition: border 0.3s ease;
}

.pd-irma-form .irma-form-input:focus {
	box-shadow: none;
	border-bottom: 2px solid var(--pd-irma-primary);
}

/**
 * Notifications
 */
 #pd-irma-form-notification {
	display: inline-block;
}

.pd-irma-notice {
	display: inline-block;
	margin-left: 1.25rem;
	transition: all 0.3s ease;
}

.pd-irma-notice--success {
	color: var(--pd-irma-green);
}

.pd-irma-notice--error {
	color: var(--pd-irma-red);
}
