:root {
	--pd-irma-primary: #4497f7;
	--pd-irma-primary-dark: #3c87de;
	--pd-irma-green: #42c75a;
	--pd-irma-red: #c74242;
	--pd-irma-border-radius: 8px;
	--pd-irma-box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 4px 4px 0px 2px rgba(40,44,53,.08);
}

/**
 * Form
 */
.irma-form-label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.1em;
	font-weight: bold;
	color: var(--pd-irma-primary);
}

.pd-irma-form__footer {
	display: block;
	margin-top: 2rem;
	margin-bottom:  2rem;
}

.irma-logo {
	width: 60px !important;
}

.input-empty{
	border-bottom: 2px solid red !important;
}
